
  <div class="form-container">
  <h2 class="text-center mb-2">Konekt with like minds by adding a new topic related to <%= @category.title %></h2>
   <br>
    <%= simple_form_for [@category, @topic] do |f| %>
      <%= f.input :title, input_html: { class: 'form-control' } %>
      <%= f.input :description, input_html: { class: 'form-control' } %>
      <%= f.button :submit, class: 'black-link' %>
    <% end %>

</div>
