<div class="container">
  <div class="card topics-card">
    <h1><%= @category.title %></h1>


<%= link_to "Generate Interesting Topic", new_ai_topic_path(category: @category) %>
  <%= render "topics/list", topics:@topics %>

    <%= link_to 'CATEGORY', categories_path, class: 'btn btn-success' %>
    <%= link_to 'NEW TOPIC', new_category_topic_path(@category), class: 'btn btn-success' %>
  </div>

  <div class='card posts-card'>

<%= turbo_frame_tag :topic_page do %>
  <p>
    <strong>Title:</strong>
    <%= @topic.title %>
  </p>

  <% @posts.each do |post| %>

    <%= link_to post.content, post_path(post) %>

  <% end %>

  <br>
  <%= link_to 'CREATE POST',  new_topic_post_path(@topic), class: 'btn btn-success', data: {turbo:false} %>
  <%= link_to 'BACK', root_path, class: 'btn btn-success'%>
<% end %>
  </div>
</div>
