<%# content_for :meta_title, "#{@topic.title} on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @topic.description %>
<%# content_for :meta_image, cl_image_path(@topic.photo.path) %>
<div class="d-flex">
  <div class="topic-container topics-card">
    <div class="scrollable-container">
      <div class="scrollable-content">
        <%= render "topics/list", topics:@topics %>
      </div>
    </div>
    <!--<div class="topic-buttons">-->
    <%#= link_to "Generate Interesting Topic", new_ai_topic_path(category: @category), class: "black-link" %>
    <%#= link_to 'NEW TOPIC', new_category_topic_path(@category), class: "black-link" %>
    <!--</div-->
  </div>
  <div class="spacing">
    <%= turbo_frame_tag :topic_page do %>
      <div class="container-post">
        <h1>
          <%= @topic.title %>
        </h1>
      </div>
      <div class="black-link-card">
        <div class="d-flex justify-content-between align-items-center mb-2" style="width:88%">
          <h3>Some thoughts on this topic:</h3>
            <%= link_to 'Add yours',  new_topic_post_path(@topic), class: "topic-button", data: {turbo:false} %>
        </div>
        <% @posts.each do |post| %>
          <%= link_to post_path(post) do %>
            <div class="post">
              <%= post.content.truncate(100) %>
              <div class='d-flex'>
                <br>
                <i class="fa-solid fa-circle-plus m-3"></i>
                <p class="m-2"><%= post.comments.count %></p>
                <i class="fa-regular fa-message m-2"></i>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
