<%= turbo_frame_tag :topic_page do %>
  <div data-controller="comment-form" class="p-3">
    <%# <div class="container-scroll"> %>
    <div class="container-post">
      <div class="d-flex justify-content-between">
        <h1>
          <%= @post.topic.title %>
        </h1>
        <%= link_to topic_path(@topic)  do %>
          <i class="fa-solid fa-arrow-left text-black"></i>
        <% end %>
      </div>
      <!-- Back Link -->
      <div class="card-post-content">
        <p>
          <%= @post.content %>
        </p>
        <div class="d-flex justify-content-between">
          <h5 class="text-muted">Posted by <strong><%= @post.user.user_name %></strong></h5>
          <div id="post_<%= @post.id %>_likes">
            <%= turbo_frame_tag "post_#{@post.id}_likes" do %>
              <%= render "posts/likes", post: @post %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Comments Section -->
    <div class="mb-3">
      <% @comments.each do |comment| %>
        <div class="comment-block">
          <p class="comment-user"><%= comment.user.user_name %></p>
          <p class="comment-content"><%= comment.content %></p>
        </div>
      <% end %>
    </div>
    <%# </div> %>
    <!-- Comment Form (initially hidden) -->
    <a class="topic-button mt-3" data-action="comment-form#reveal">COMMENT</a>
    <div id="comment-form" class="d-none" data-comment-form-target="form">
      <%= simple_form_for [@post, Comment.new] do |f| %>
        <%= f.input :content, input_html: { class: 'form-control' }, label: false %>
        <%= f.button :submit, class: 'topic-button' %>
      <% end %>
    </div>
  </div>
<% end %>
