<%= turbo_frame_tag :topic_page do %>

<p>
  <%= @post.user.user_name %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic.title %>
</p>
</div>

<div class="card-fg">
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
</div>

<% @comments.each do |comment| %>
<div class="card-fg">
  <p>
  <%= comment.content %>
  <%= comment.user.user_name %>
  <hr>
  </p>
  </div>
<% end %>

<% if @post.likers.include?(current_user) %>
    <%= button_to 'unlike', unlike_post_path(@post), method: :delete  %>
  <% else %>
    <%= button_to 'like', like_post_path(@post), method: :post  %>
<% end %>

<div class="comment-like">
<p>
  <% if @post.likers.count > 1 %>
    <%= @post.likers.count %> likes
  <% else %>
    <%= @post.likers.count %> like
  <% end %>
</p>
  </div>

<%= link_to "COMMENT", new_post_comment_path(@post), class: 'btn btn-success', data: {turbo:false}%>
<%= link_to " Back", topic_path(@topic) %>
<% end %>
