<div class="container">
  <div class="card topics-card">
    <h1><%= @category.title %></h1>

<%= link_to "Generate Interesting Topic", new_ai_topic_path(category: @category) %>
                        
    <ul>
      <% if @topics.present? %>
        <% @topics.each do |topic| %>
          <div class="card-fg">
            <li>
              <%= link_to topic.title, topic_path(topic), data: { turbo_frame: :topic_page, turbo_action: :advance } %>
            </li>
          </div>
        <% end %>
      <% else %>
        <li>No topics available</li>
      <% end %>
    </ul>


    <%= link_to 'CATEGORY', categories_path, class: 'btn', style: 'background-color: #86D293; color: azure;' %>
    <%= link_to 'NEW TOPIC', new_category_topic_path(@category), class: 'btn', style: 'background-color: #86D293; color: azure;' %>
  </div>

  <div class="card posts-card">
    Select a Topic to view details
  </div>
</div>
